<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sun.img">

    <application>
        <activity
            android:name=".preview.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>